<div class="container app-intro">
  <h1 class="text-center text-capitalize ">users api</h1>
</div>

<div class="container app-main bg-dark">

  {{#if users.length}}

    <p class="rounder bg-warning  text-center badge text-capitalize" >all users:</p>
    <ul class="users-list row">
      {{#each users}}
        {{> user  nm=name imgUrl="https://images.pexels.com/photos/1034010/pexels-photo-1034010.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" }}
      {{/each}}
    </ul>

  {{else}}
    <p>No users to display!</p>
  {{/if}}

</div>

