<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
                <a href="" target="_blank"><span class="glyphicon glyphicon-book"></span>Source on Gitlab</a>
        </li>
    </ul>
  </div>
</nav>
